.u-section-1 {
  background-image: url("images/10303369-02.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 579px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Abel;
  font-weight: normal;
  margin: 300px 669px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 439px;
    margin-right: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 340px;
    margin-right: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 2.25rem;
    margin-top: 370px;
    margin-right: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 42.14% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 244px;
    margin-right: 0;
    margin-bottom: 32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-1 {
  height: 82px;
  width: 82px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-1 {
  font-family: Abel;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Abel;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 528px;
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 82px;
  width: 82px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-family: Abel;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-4 {
  font-family: Abel;
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 528px;
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 82px;
  width: 82px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  font-family: Abel;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-6 {
  font-family: Abel;
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-1 {
    height: 68px;
    width: 68px;
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-2 .u-icon-2 {
    height: 68px;
    width: 68px;
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 385px;
  }

  .u-section-2 .u-icon-3 {
    height: 68px;
    width: 68px;
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: 57px;
    margin-bottom: 57px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 41px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin: 21px 0 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 33px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin: 21px 6px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 114px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 161px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-family: Abel;
  margin: 0;
}

.u-section-3 .u-image-1 {
  min-height: 576px;
  background-image: url("images/4.png");
  background-position: 50% 50%;
}

.u-section-3 .u-shape-1 {
  height: 286px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 173px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 61px;
  padding-right: 42px;
}

.u-section-3 .u-text-2 {
  font-family: Abel;
  margin: 15px 0 12px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/2.png");
  min-height: 415px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 495px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding-right: 61px;
  padding-left: 61px;
}

.u-section-3 .u-text-3 {
  width: 337px;
  margin: 61px auto 45px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 54px;
  min-height: 111px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 132px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 8px;
  }

  .u-section-3 .u-image-1 {
    min-height: 525px;
  }

  .u-section-3 .u-shape-1 {
    height: 490px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 51px;
    padding-right: 35px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 502px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 35px;
    padding-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: 277px;
    margin-top: 48px;
    margin-bottom: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-bottom: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 101px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 338px;
  }

  .u-section-3 .u-shape-1 {
    height: 318px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 39px;
    padding-right: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-3 .u-image-2 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 27px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: -14px;
    margin-left: 13px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1519px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-1 {
    min-height: 748px;
  }

  .u-section-3 .u-shape-1 {
    height: 499px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-3 .u-image-2 {
    min-height: 795px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 29px;
    padding-left: 29px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 52px;
    margin-bottom: -19px;
  }

  .u-section-3 .u-image-1 {
    min-height: 468px;
  }

  .u-section-3 .u-shape-1 {
    height: 389px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-2 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 13px;
    padding-left: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 20px;
  }
}.u-section-4 {
  min-height: 801px;
}

.u-section-4 .u-group-1 {
  width: 812px;
  min-height: 67px;
  height: auto;
  margin: 36px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-family: Abel;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 486px;
  background-image: url("images/122130233_276702190242981_5148074844208459217_n.jpg");
  background-position: 4.35% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/121260667_3088569574761310_4850102286927412198_n.jpg");
  min-height: 486px;
  background-position: 3.36% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/123722203_125432326015641_460842721859921799_n.jpg");
  min-height: 486px;
  background-position: 10.72% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 588px;
  }

  .u-section-4 .u-group-1 {
    width: 670px;
    position: relative;
    margin-top: 60px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
    background-position: 0% 0%;
  }

  .u-section-4 .u-image-2 {
    min-height: 391px;
  }

  .u-section-4 .u-image-3 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 449px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    min-height: 178px;
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -106px;
  }

  .u-section-4 .u-image-1 {
    min-height: 307px;
  }

  .u-section-4 .u-image-2 {
    min-height: 307px;
  }

  .u-section-4 .u-image-3 {
    min-height: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 2128px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: 36px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 89px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-top: 23px;
  }

  .u-section-4 .u-image-1 {
    min-height: 691px;
  }

  .u-section-4 .u-image-2 {
    min-height: 691px;
  }

  .u-section-4 .u-image-3 {
    min-height: 691px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1169px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 46px;
    margin-top: 17px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .u-section-4 .u-image-1 {
    min-height: 398px;
  }

  .u-section-4 .u-image-2 {
    min-height: 333px;
  }

  .u-section-4 .u-image-3 {
    min-height: 333px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/b8da8e4a1a605d52ac240244183c3d1aab32ccfff4264282fe7e29284e1b1bb32c40b3917e38acfcedf7f96c0fabd70d513a13806c90c908d47312_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 680px;
}

.u-section-5 .u-group-1 {
  min-height: 538px;
  width: 624px;
  height: auto;
  margin: 81px auto 60px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-5 .u-text-1 {
  font-family: Abel;
  font-size: 3.75rem;
  margin: 104px 0 0;
}

.u-section-5 .u-line-1 {
  width: 413px;
  transform-origin: left center 0px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-family: Abel;
  font-size: 1.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-5 .u-group-1 {
    min-height: 409px;
    width: 480px;
    margin-top: 72px;
    margin-bottom: 15px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 44px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 133px;
  }

  .u-section-5 .u-line-1 {
    width: 251px;
    height: 4px;
    margin-top: 6px;
  }

  .u-section-5 .u-text-2 {
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-5 .u-group-1 {
    min-height: 376px;
    width: 447px;
    margin-top: 57px;
    margin-bottom: 34px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 35px;
  }

  .u-section-5 .u-line-1 {
    width: 193px;
    position: relative;
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-5 .u-group-1 {
    min-height: 356px;
    width: 404px;
    margin-top: 81px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-line-1 {
    width: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-group-1 {
    min-height: 442px;
    margin-top: 15px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-line-1 {
    width: 152px;
    margin-top: 133px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -122px;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 190px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 39px auto 39px 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 143px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-1 {
  height: 84px;
  margin: 10px auto 10px 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 143px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-2 {
  height: 83px;
  margin: 10px auto 10px 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 143px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-3 {
  height: 79px;
  margin: 10px auto 10px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 842px;
    margin: 50px auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-6 .u-image-1 {
    height: 41px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-6 .u-image-2 {
    height: 41px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 120px;
  }

  .u-section-6 .u-image-3 {
    height: 41px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-6 .u-image-1 {
    height: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 103px;
  }

  .u-section-6 .u-image-2 {
    height: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 103px;
  }

  .u-section-6 .u-image-3 {
    height: 35px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-6 .u-image-1 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-6 .u-image-2 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-6 .u-image-3 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin: 0 0 24px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-6 .u-image-1 {
    height: 88px;
    margin-top: 28px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 146px;
  }

  .u-section-6 .u-image-2 {
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-6 .u-image-3 {
    height: 119px;
    margin-top: -19px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 512px;
}

.u-section-7 .u-video-1 {
  width: 729px;
  height: 360px;
  margin: 66px auto 60px;
}

@media (max-width: 991px) {
  .u-section-7 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-7 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-7 .u-video-1 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 538px;
}

.u-section-8 .u-group-1 {
  min-height: 157px;
  width: 898px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8 .u-text-1 {
  font-family: Abel;
  background-image: none;
  margin: 10px 0 0;
}

.u-section-8 .u-text-2 {
  background-image: none;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 920px;
  margin: 15px 99px 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 226px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-3 {
  font-family: Abel;
  margin: 8px 0 0;
}

.u-section-8 .u-text-4 {
  font-family: Abel;
  margin: 15px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 226px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: Abel;
  margin: -20px auto 0;
}

.u-section-8 .u-text-6 {
  font-family: Abel;
  background-image: none;
  letter-spacing: 1px;
  line-height: 1.8;
  font-weight: normal;
  margin: 14px 7px 0;
}

.u-section-8 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: -4px 99px 0 auto;
}

.u-section-8 .u-group-2 {
  width: 800px;
  min-height: 141px;
  height: auto;
  margin: 16px 155px 4px auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 30px 22px;
}

.u-section-8 .u-text-7 {
  font-family: Abel;
  margin: -12px 93px 0 273px;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 121px;
  min-width: 57px;
  white-space: nowrap;
  margin: 20px 305px 0 auto;
}

.u-section-8 .u-icon-3 {
  height: 48px;
}

.u-section-8 .u-icon-4 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-8 .u-group-1 {
    width: 740px;
    margin-top: 77px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 740px;
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-right: -23px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-8 .u-group-2 {
    min-height: 136px;
    margin-top: 17px;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: -17px;
    margin-right: 240px;
    margin-left: 275px;
  }

  .u-section-8 .u-btn-1 {
    width: 194px;
    height: 26px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-8 .u-group-1 {
    width: 567px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 567px;
    margin-top: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-line-1 {
    width: 671px;
    transform-origin: left center 0px;
    margin-top: 8px;
  }

  .u-section-8 .u-group-2 {
    min-height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-7 {
    margin-top: -16px;
    margin-right: 214px;
    margin-left: 237px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-8 .u-group-1 {
    width: 532px;
    min-height: 164px;
    margin-top: 10px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-8 .u-text-2 {
    width: 251px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 532px;
    margin-top: 5px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 130px;
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-8 .u-group-1 {
    min-height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 12px;
    margin-left: -12px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-8 .u-text-5 {
    width: 164px;
    margin-top: -19px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 28px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-8 .u-line-1 {
    width: 305px;
    margin-top: 0;
  }

  .u-section-8 .u-group-2 {
    min-height: 145px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    width: 212px;
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 10px;
  }
}.u-backlink{
display:none !important;
}
.u-footer{
display:none !important; 
}